.navbar {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(35, 35, 35);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.navbar > * {
  display: flex;
  align-items: center;
}
.logo {
  margin-left: 10px;
}
.search {
  align-items: stretch;
}
.searchInput {
  width: 600px;
  background-color: #121212;
  border: none;
  color: #fff;
  padding: 8px;
  font-size: 18px;
}
.searchInput:focus {
  outline-width: 1px;
  outline-offset: -2px;
}
.searchInput::-webkit-input-placeholder {
  color: #7d7d7d;
}
.searchInput:-ms-input-placeholder {
  color: #7d7d7d;
}
.searchInput::placeholder {
  color: #7d7d7d;
}
.searchBtn {
  cursor: pointer;
  background-color: #323232;
  border: 0;
  color: #fff;
  padding: 9px 18px;
}
.options {
  gap: 8px;
  padding-right: 2px;
}
.upload,
.account {
  border-radius: 50%;
  padding: 4px !important;
  font-size: 38px;
  cursor: pointer;
}
.upload:hover,
.accountSigned:hover {
  background-color: #333;
}
.upload {
  font-size: 28px;
}
