@import url(https://fonts.googleapis.com/css?family=Quicksand:500);

.videoContainer {
  text-align: center;
}
.videoInfo {
  padding: 12px 48px;
  font-family: Quicksand, sans-serif;
}
.titleInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.videoTitle {
  font-size: 28px;
}
.views {
  font-size: 20px;
  font-style: italic;
}
.like {
  display: flex;
  margin-top: 18px;
}
.likeSub {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.likeImage {
  fill: #fff;
}
.likes {
  font-size: 22px;
}
.authorInfo {
  margin-top: 36px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.authorImage {
  cursor: pointer;
}
.authorName {
  font-size: 22px;
}
